@font-face {
	font-family:favorit-lining-regular;src:url(/assets/favorit-lining-regular.b2da3.woff2) format("woff2");font-weight:400;font-style:normal;
}
@font-face {
	font-family:favorit-regular;src:url(/assets/favorit-regular.11438.woff2) format("woff2");font-weight:400;font-style:normal;
}
@font-face {
	font-family:favorit-bold;src:url(/assets/favorit-bold.6dfc0.woff2) format("woff2");font-weight:400;font-style:normal;
}
@font-face {
	font-family:voyage-bold;src:url(/assets/voyage-bold.38dc1.woff2) format("woff2");font-weight:400;font-style:normal;
}
@font-face {
	font-family:voyage-regular;src:url(/assets/voyage-regular.22ade.woff2) format("woff2");font-weight:400;font-style:normal;font-display:swap;
}
* {
	margin:0;padding:0;box-sizing:border-box;-webkit-tap-highlight-color:transparent;
}
:focus {
	outline:none;
}
html {
	height:100%;font-size:calc(50% + .3vw);overflow-y:scroll;overflow-x:hidden;opacity:1;
}
main {
	overflow-x:hidden;
}
iframe {
	pointer-events:none;backface-visibility:hidden;-webkit-backface-visibility:hidden;
}
body {
	font-family:var(--font-family-sans-serif);font-size:var(--font-size-md);line-height:1.5;min-height:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
}
table {
	border-collapse:collapse;
}
tr:nth-child(2n) {
	background:#f8f8f8;
}
td,th {
	-webkit-text-size-adjust:100%;padding:12px;border:1px solid #dfe2e5;
}
table {
	width:100%;line-height:inherit;
}
small,table {
	font-size:var(--font-size-sm);
}
small {
	line-height:2;
}
strong {
	font-family:var(--font-family-sans-serif-bold);
}
pre {
	text-align:left;
}
ul {
	list-style:none;
}
h1,h2,h3,strong,th {
	font-weight:400;
}
a {
	font-family:var(--font-family-sans-serif-lining);color:currentColor;text-decoration:none;
}
iframe {
	border:none;
}
input:-webkit-autofill,input:-webkit-autofill:active,input:-webkit-autofill:focus,input:-webkit-autofill:hover {
	-webkit-animation:styles__autofill 0s forwards;animation:styles__autofill 0s forwards;
}
@keyframes styles__autofill {
	to {
		background:transparent;color:inherit;
	}


}
@-webkit-keyframes styles__autofill {
	to {
		background:transparent;color:inherit;
	}
}
:not(code),:not(input) {
	user-select:none;
}
::-webkit-scrollbar {
	width:5px;height:5px;background:transparent;
}
::-webkit-scrollbar-thumb {
	background-color:currentColor;border-radius:.5em;
}
::-webkit-input-placeholder {
	color:#dfdfdf;
}
::placeholder {
	color:#dfdfdf;
}
::selection {
	background-color:transparent;color:#999;
}
:root {
	--vh:1vh;--spacer:8px;--easing-expo:cubic-bezier(.74,.05,.11,1.02);--font-family-sans-serif:"favorit-regular";--font-family-sans-serif-bold:"favorit-bold";--font-family-sans-serif-lining:"favorit-lining-regular";--font-family-serif:"voyage-regular";--font-family-serif-bold:"voyage-bold";--font-size-xs:14px;--font-size-sm:18px;--font-size-md:2rem;--font-size-lg:2.75rem;--font-size-xl:4.375rem;--font-size-xxl:9.375rem;
}
@media (max-width:575.98px) {
	:root {
		--font-size-xs:12px;--font-size-sm:14px;--font-size-md:20px;--font-size-lg:32px;--font-size-xl:40px;--font-size-xxl:60px;
	}
}
.Container__wrapper {
	width:100%;
	height:calc(var(--vh)*100);
}

.Container__center {
	display:grid;place-items:center;
}

.Container__absolute {
	top:0;left:0;position:fixed;touch-action:none;z-index: 9;
}

.Container__masked {
	overflow:hidden;
}

.lib__wrapper {
	user-select:none;grid-template-columns: repeat(3, 1fr);display: grid;cursor:grab;position:relative;overflow:hidden;
}

.lib__wrapper:active {
	cursor:grabbing;
}

.lib__item {
	display:flex;align-items:center;width:600px; height:600px;justify-content:center;backface-visibility:hidden;visibility:hidden;
}

.lib__item[style] {
	visibility:visible;
}

.lib__debug {
	overflow:visible;background:#d3d3d3;
}

.lib__debug .lib__item {
	background:red;border-radius:50%;
}

.styles__wrapper {
	max-width:1650px;margin:auto;
}

.styles__double-border {
	box-shadow:0 0 0 3px currentColor,0 0 0 8px #fff,0 0 0 11px currentColor;
}

.styles__font-size-xs {
	font-size:var(--font-size-xs);line-height:1.6;
}

.styles__font-size-sm {
	font-size:var(--font-size-sm);line-height:1.6;
}

.styles__font-size-md {
	font-size:var(--font-size-md);line-height:1.4;
}

.styles__font-size-lg {
	font-size:var(--font-size-lg);line-height:1.2;
}

.styles__font-size-xl {
	font-size:var(--font-size-xl);line-height:1.1;
}

.styles__font-size-xxl {
	font-size:var(--font-size-xxl);line-height:.8;
}

.styles__font-family-serif {
	font-family:var(--font-family-serif);
}

.styles__font-family-serif-bold {
	font-family:var(--font-family-serif-bold);
}

.styles__font-family-sans-serif {
	font-family:var(--font-family-sans-serif);
}

.styles__font-family-sans-serif-bold {
	font-family:var(--font-family-sans-serif-bold);
}

.styles__font-family-sans-serif-lining {
	font-family:var(--font-family-sans-serif-lining);
}

.styles__align-left {
	text-align:left;
}

.styles__align-right {
	text-align:right;
}

.styles__align-center {
	text-align:center;
}

.styles__form-error {
	position:absolute;bottom:-1em;left:0;line-height:1;color:tomato;font-size:var(--font-size-xs);
}

.Thumb__wrapper {
	--size:1;position:relative;width:calc(var(--width)*var(--size));height:calc(var(--height)*var(--size));background:#fff;transform:rotate(-10deg);color:#28282a;background-size:cover;
}

.Thumb__cover {
	object-fit:cover;width:100%;height:100%;display:block;
}

.Thumb__layout-horizontal {
	--width:240px;--height:160px;
}

.Thumb__layout-vertical {
	--height:240px;--width:160px;
}

.Thumb__title {
	position:absolute;bottom:-2.4em;left:0;right:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;pointer-events:none;
}
@media screen and (min-width:768px) {
	.Thumb__size-small {
		--size:0.5;
	}

	.Thumb__size-medium {
		--size:0.65;
	}

	.Thumb__size-large {
		--size:0.8;
	}

	.Thumb__layout-horizontal {
		--width:500px;--height:333px;
	}

	.Thumb__layout-vertical {
		--height:500px;--width:333px;
	}


}
@media screen and (min-width:1400px) {
	.Thumb__layout-horizontal {
		--width:600px;--height:400px;
	}

	.Thumb__layout-vertical {
		--height:600px;--width:400px;
	}


}

@media screen and (max-width:768px) {
	.Heading__wrapper br,.Heading__wrapper br:after {
		content:" ";
	}


}

.Intro__wrapper {
	text-align:center;padding:24px;
}

.Intro__wrapper *+* {
	margin-top:20px;
}

.Intro__title {
	white-space:nowrap;font-size:6.375rem;
}

.Intro__desc {
	min-height:2.9em;
}
@media (max-width:575.98px) {
	.Intro__title {
		font-size:5.375rem;
	}


}

.Postcard__wrapper {
	perspective:80px;position:relative;touch-action:none;width:50vw;margin-top:calc(var(--spacer)*-4);transform:none;
}

.Postcard__frame {
	background:#fff;width:100%;height:30vw;max-height:calc(var(--vh)*100 - 270px);
}

.Postcard__prefer-min-height {
	min-height:30vw;height:auto;
}

.Postcard__pointer {
	cursor:pointer;
}

.Postcard__info {
	margin-top:1em;
}

.Postcard__title {
	flex:1;
}
@media (max-width:991.98px) {
	.Postcard__wrapper {
		width:calc(100vw - var(--spacer)*8);margin-top:calc(var(--spacer)*-6);
	}

	.Postcard__frame {
		height:calc(100vw - var(--spacer)*8);min-height:0;margin-left:auto;margin-right:auto;max-height:100%;
	}

	.Postcard__info {
		margin-left:-11px;margin-right:-11px;
	}
}

@media (hover:hover) and (pointer:fine) {
	.Switch__input:hover {
		background:#efefef;
	}
}

.Switch__wrapper {
	--width:110px;--height:46px;display:flex;align-items:center;cursor:default;user-select:none;
}

.Switch__icon {
	text-align:center;
}

.Switch__emoji {
	font-size:34px;
}

.Switch__input {
	margin:0 20px;box-shadow:0 0 0 3px;width:var(--width);border-radius:calc(var(--height)/2);transition:background .3s ease;
}

.Switch__circle,.Switch__input {
	height:var(--height);
}

.Switch__circle {
	width:var(--height);border-radius:calc(var(--height)/2);background:currentColor;border:3px solid #fff;transition:transform .3s var(--easing-expo);
}

.Switch__checked .Switch__circle {
	transform:translateX(calc(var(--width) - var(--height)));
}

.Switch__pointer {
	cursor:pointer;
}

.Flip__wrapper {
	perspective:2000px;position:relative;
}

.Flip__animation {
	animation:Flip__animation 1s ease;
}

.Flip__back,.Flip__front {
	transition:transform 1s cubic-bezier(.87,0,.13,1);-webkit-backface-visibility:hidden;backface-visibility:hidden;transform-style:preserve-3d;
}

.Flip__back {
	position:absolute;top:0;left:0;right:0;transform:rotateX(180deg);pointer-events:none;
}

.Flip__flipped .Flip__front {
	pointer-events:none;transform:rotateX(-180deg);
}

.Flip__flipped .Flip__back {
	pointer-events:all;transform:rotateX(0);
}
@keyframes Flip__animation {
	0% {
		transform:scale(1);
	}
	50% {
		transform:scale(.9);
	}
	to {
		transform:scale(1);
	}
}

.Frame__wrapper {
	position:relative;display:grid;grid-auto-columns:1fr;grid-auto-flow:column;
}

.Frame__wrapper>:not(:last-child):not(.Frame__stamp) {
	border-right:3px solid #000;
}

.Frame__stamp {
	position:absolute;top:14px;right:14px;animation:Frame__stamp .6s ease;z-index:1;
}
@keyframes Frame__stamp {
	0% {
		opacity:0;transform:scale(0);
	}
	50% {
		opacity:.7;transform:scale(1.1);
	}
	to {
		opacity:1;transform:scale(1);
	}


}
@media (max-width:991.98px) {
	.Frame__wrapper {
		display:flex;flex-direction:column-reverse;
	}

	.Frame__wrapper>* {
		flex-basis:auto;
	}

	.Frame__wrapper>:not(:last-child):not(.Frame__stamp) {
		border:0;
	}

	.Frame__stamp {
		display:none;
	}


}

.Text__input {
	max-width:600px;width:100%;border:0;height:60px;text-align:inherit;-webkit-appeareance:none;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;
}

.Input__wrapper {
	position:relative;
}
input+.Input__error {
	bottom:-.2em;
}

.Input__error {
	bottom:-1.6em;
}

.Input__small small {
	position:relative;display:block;margin-bottom:-1em;
}

.Cta__wrapper {
	display:inline-flex;cursor:pointer;text-align:center;user-select:none;
}

.Cta__rounded {
	padding:0 1em;min-width:9em;border:3px solid #000;border-radius:44px;height:2.8em;max-height:68px;display:inline-grid;place-items:center;appearance:none;background:none;
}
@media (max-width:991.98px) {
	.Cta__rounded {
		width:100%;
	}
}

.Textarea__wrapper {
	position:relative;
}

.Textarea__textarea {
	width:100%;border:0;-webkit-appearance:none;border-radius:0;text-align:inherit;resize:none;box-shadow:inset 0 0 0 3px currentColor;padding:.4em .6em;overflow:hidden;display:block;
}

.Textarea__left {
	position:absolute;right:0;bottom:-1.6em;line-height:1;
}

.Share__spacer {
	--spacer:0.5vw;
}

.Share__wrapperCover {
	position:relative;overflow:hidden;
}

.Share__cover {
	width:120%;height:120%;margin-left:-10%;margin-top:-10%;background-size:cover;background-position:50%;transform:rotate(-10deg);
}

.Share__message {
	height:100%;display:flex;flex-direction:column;
}

.Share__message>:last-child {
	flex-grow:1;
}

.Share__message textarea {
	height:100%;
}

.Share__mandatory {
	font-size:var(--font-size-sm);
}
@media (max-width:1439.98px) {
	.Share__spacer {
		--spacer:8px;
	}

	.Share__mandatory {
		position:absolute;bottom:-3em;left:0;font-size:var(--font-size-xs);
	}


}

.CodeBlock__wrapper {
	display:block;overflow-x:auto;padding:.5em;background:#f8f8f8;
}
@media (max-width:575.98px) {
	.CodeBlock__wrapper {
		font-size:var(--font-size-sm);
	}


}

.Wrapper__wrapper {
	max-width:1650px;margin:auto;
}

.Emoji__wrapper {
	position:relative;display:inline-block;
}

.Emoji__emoji {
	position:absolute;
}

.File__wrapper {
	display:flex;flex-direction:column;cursor:pointer;outline:2px dashed currentColor;outline-offset:-18px;text-align:center;transition:all .3s ease;min-height:300px;
}
@media (hover:hover) and (pointer:fine) {
	.File__wrapper:not(.File__dragOver):hover {
		background:#efefef;
	}


}

.File__wrapper * {
	pointer-events:none;
}

.File__input {
	display:none;
}

.File__header {
	position:relative;display:flex;align-items:center;justify-content:center;flex-direction:column;flex:1;
}

.File__ellipsis {
	overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
}

.File__dragOver {
	background:#000;color:#fff;
}

.File__label {
	position:relative;
}

.File__error {
	bottom:-2em;right:0;
}

.File__tomato {
	animation:File__error 1s ease-out;
}
@keyframes File__error {
	0% {
		background:tomato;
	}
	to {
		background:#fff;
	}
}

.Cursor__wrapper {
	pointer-events:none;z-index:1;
}

.Cursor__cursor {
	pointer-events:all;position:absolute;top:0;left:0;width:1px;height:1px;display:inline-grid;place-content:center;pointer-events:none;backface-visibility:hidden;
}

.notrePosition {
	position: absolute;
	bottom: 0;
	color: white;
	z-index: 999999999;
	right: 5px;
	font-size: .8em;
}

.index {
	position: absolute;
	top: 0;
	color: white;
	z-index: 999999999;
	left: 5px;
	font-size: .8em;
}

.nous {
	position: absolute;
	top: 0;
	color: white;
	z-index: 999999999;
	right: 5px;
	font-size: .8em;
}

.nosVoyages {
	position: absolute;
	top: 0;
	color: white;
	z-index: 999999999;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: .8em;
}

#clock {
	position: absolute;
	bottom: 0;
	color: white;
	z-index: 999999999;
	left: 5px;
	font-size: .8em;
}

.Cursor__cursor svg {
	overflow:visible;
}

.Cursor__cursor circle {
	display:inline-block;
}

.Cursor__cursor svg * {
	stroke-width:2.2px;
}

.Cursor__cursor svg>* {
	transform-origin:28px 28px;
}

.Cursor__cursor svg>:last-child {
	animation:Cursor__pointer .6s infinite;
}
@keyframes Cursor__pointer {
	0% {
		transform:rotate(8deg);
	}
	50% {
		transform:rotate(-4deg);
	}
	to {
		transform:rotate(0deg);
	}


}
@media(max-width:991.98px) {
	.Cursor__wrapper {
		display:none;
	}


}

.Navigation__cta {
	position:fixed;padding:2vmax;z-index:1;
}

.Navigation__top {
	top:-.4rem;
}

.Navigation__left {
	left:0;
}

.Navigation__right {
	right:0;
}

.Navigation__bottom {
	bottom:0;
}

.Navigation__center {
	padding:2.5vmax;left:50%;transform:translateX(-50%);
}

.Navigation__top.Navigation__center {
	padding:2vmax;font-family:var(--font-family-sans-serif);transition:transform .3s .5s var(--easing-expo);
}

.Navigation__top.Navigation__center:not(.Navigation__scale) {
	transform:translateX(-50%) translateY(-200%);
}

.Navigation__bottom.Navigation__center {
	margin-bottom:7px;
}

.Navigation__scale {
	transform:translateX(-50%) translateY(0);
}
@media (max-width:575.98px) {
	.Navigation__cta,.Navigation__top.Navigation__center {
		padding:calc(var(--spacer)*3);
	}

	.Navigation__top.Navigation__center {
		margin-top:-.2em;font-size:var(--font-size-lg);
	}

	.Navigation__top.Navigation__center span {
		display:none;
	}

	.Navigation__bottom.Navigation__center {
		margin-bottom:50px;
	}
}
