noscript
  section.unsupported
    p.unsupported__logo LK Digital—

    .unsupported__wrapper
      h1.unsupported__title
        | Désolé, ce site n'est pas optimisé #[br]
        | pour votre navigateur.

      p.unsupported__description
        | Revenez après avoir #[a(href="https://www.enable-javascript.com/" target="_blank") activé JavaScript] pour voir réellement le site. #[br]
        | Ca en vaut le détour.

      .unsupported__columns
        .unsupported__column
          h2.unsupported__subtitle Pour toutes demandes

          p
            a.unsupported__link(href="mailto:lauren_d@outlook.fr") lauren_d@outlook.fr

        .unsupported__column
          h2.unsupported__subtitle Social

          p
            a.unsupported__link(href="https://www.facebook.com/lkdigital.eu/" target="_blank") Facebook
            a.unsupported__link(href="https://www.instagram.com/lkdigital_eu/" target="_blank") Instagram
            a.unsupported__link(href="https://www.linkedin.com/company/18405205" target="_blank") LinkedIn
            a.unsupported__link(href="https://twitter.com/LKDigital_eu" target="_blank") Twitter
